.main {
  padding: 100px 0 178px;
  @media (max-width: 600px) {
    padding-bottom: 208px;
  }
}
.intro {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  &__info {
    flex: 0 0 35%;
    padding: 0 20px;
    text-align: center;
    @media (max-width: 992px) {
      display: none;
    }
  }
  &__title {
    font-size: 30px;
  }
  &__text {
    font-size: 18px;
  }
  &__slider {
    img {
      max-width: 100%;
      max-height: 460px;
      border-radius: 10px;
    }
  }
  &__btn {
    width: 180px;
  }
  @media (max-width: 768px) {
    padding-bottom: 0;
  }
} //intro
.main-title {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 30px;
  @media (max-width: 768px) {
    font-size: 27px;
  }
} //main-title
.popular-products {
  padding: 30px 0;
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    @media (max-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 768px) {
      gap: 15px;
    }
    @media (max-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 768px) {
    padding: 20px 0;
  }
  @media (max-width: 576px) {
    padding-top: 0;
  }
} //popular-products
