.header {
  background: #fff;
  position: fixed;
  padding: 10px 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 3px 5px -2px $brand-gray;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  &__menu {
    display: none;
    cursor: pointer;
    background: transparent;
    border: 0;
    gap: 10px;
    font-weight: 500;
    font-size: 15px;
    &-burger {
      position: relative;
      height: 15px;
      width: 20px;
      display: flex;
      align-items: center;
      span {
        width: 100%;
        height: 2px;
        background: $brand-black;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background: $brand-black;
        }
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background: $brand-black;
        }
      }
    }
    @media (max-width: 768px) {
      display: flex;
    }
  } //header__menu
  &__logo {
    font-size: 23px;
  }
  &__search {
    @media (max-width: 768px) {
      display: none;
    }
  } //header__search
  &__contacts {
    display: flex;
    flex: 0 0 auto;
    gap: 20px;
    align-items: center;
    &-link {
      &:first-child {
        .header__contacts-icon {
          font-size: 26px;
        }
      }
    }
    &-icon {
      font-size: 28px;
      color: $text-gray;
      transition: 0.2s;
      &:hover {
        color: $brand-black;
      }
    }
    @media (max-width: 768px) {
      display: none;
    }
  } //header__contacts
  &__numbers {
    position: relative;
    &-list {
      display: none;
      background: #fff;
      z-index: 2;
      border-radius: 8px;
      box-shadow: 1px 1px 5px #afafaf;
      position: absolute;
      top: 30px;
      left: -19px;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      &.open {
        display: flex;
      }
      a {
        padding: 6px 20px;
        white-space: nowrap;
        &:hover {
          color: $brand-warning;
          background: lighten($brand-warning, 40%);
        }
      }
    }
  }
  &__number {
    display: flex;
    align-items: center;
    gap: 7px;
    &_label {
      cursor: pointer;
      &:hover {
        color: $brand-warning;
      }
    }
    &-icon {
      font-size: 14px;
      align-self: baseline;
      &.open {
        transform: rotate(180deg);
        align-self: flex-end;
      }
    }
  }
  &__cart {
    position: relative;
    height: 23px;
    width: 23px;
    &-icon {
      font-size: 23px;
      color: $text-gray;
      transition: 0.2s;
      @media (max-width: 768px) {
        font-size: 23px;
      }
      &:hover {
        color: $brand-black;
      }
    }
    &-amount {
      position: absolute;
      display: none;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 11px;
      font-weight: 500;
      top: -9px;
      right: -13px;
      height: 17px;
      width: 17px;
      border-radius: 50%;
      background: $brand-warning;
      &.active {
        display: flex;
      }
    }
  }
}

.scroll-top {
  position: fixed;
  bottom: -60px;
  right: 20px;
  font-size: 44px;
  cursor: pointer;
  color: lighten($brand-black, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
  z-index: 50;
  transition: all 0.2s linear;
  &:hover {
    color: $brand-black;
  }
  &.active {
    bottom: 20px;
  }
}
